body {
  background: #e4e8ced9;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid #2c3b15d9;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: #2c3b15d9;
}


input {
	display: block;
}

img {
	max-width: 500px;
}

.button {
	font-size: 24px;
	color: #e7eca9d9;	;
	display: block;
	margin: 5px;
	background-color: #799844d9;
	
}